<?xml version="1.0"?>

<model>
  <name>assignment_yarp-find-rgb-world-interface</name>
  <version>1.0</version>
  <sdf>model.urdf</sdf>

  <author>
    <name>Nicolò Genesio</name>
    <email>nicolo.genesio@iit.it</email>
  </author>

  <description>
    A world interface example
  </description>
</model>
